html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/style.css")
        link(rel="stylesheet" href="/styles/common.css")
        link(href="/Images/Goat2.svg" rel="shortcut icon" type="image/x-icon")
        link(href="../Images/Goat2.svg"  rel="apple-touch-icon")
    block head

    body 
        header
            include ./includes/header
        main
            block content
        block footer