.editor-header {
    /* padding: 4px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    padding-left: 1em;
    padding-right: 1em;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

.info {
    h1 {
        text-overflow: ellipsis;
    }
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 8px;

    button {
        height: 3em;
    }
}

.ql-toolbar {
    width: fit-content;
    margin: auto;
    margin-bottom: 1em;
    border-radius: .5em;
    background-color: white;
    position: sticky;
    top: 4em;
    z-index: 10;
}

#blog-editor {
    max-width: 72em;
    margin: auto;
    border: .5px solid gainsboro;
}

#back-to-top {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 10;
    height: 2em;
    width: 2em;
    border-radius: 100%;
    background: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
}