button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    color: black;
}

body {
    margin: 0px;
    padding: 0px;
}

:root {
    --blue: #58aac6;
    --black: #646464;
}

.btn {
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom:.5em;
    padding-top: .5em;

    font-size: medium;
    font-weight: bolder;
}

.btn-primary {
    /* border: .5px solid; */
    background-color: #58aac6;
    /* border-radius: .5em; */
    color: white;
}

.btn-secondary {
    border: .5px solid;

}